@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* 深色背景 */
  margin: 0;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

/* 自定義捲軸 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}